<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
<section id="main-content">
    <div class="wrap-container">
        <div class="box-body table-responsive">
            <div class="col col-md-4 col-md-offset-4" style="padding-top: 2%">
                <div><label> Team Name : <input type="text" name="name"/> </label></div>
            </div>
            <div th:if="${players != null}" class="col-md-5">
                <h2 class="text-center">Players list</h2>
                <table id="listAllPlayers" class="table table-bordered table-condensed">
                    <tr>
                        <th class="col-md-1"></th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Cost</th>
                        <th>Points</th>
                    </tr>
                    <tr th:each="player : ${players}" th:id="${player.id}" class="clickable-row" style="cursor:pointer;">
                        <td class="col-md-1 text-center"><img th:src="${player.getRealTeam().getEquipment()}" height="20%"/></td>
                        <td th:text="${player.name}">Name</td>
                        <td th:text="${player.position}">position</td>
                        <td th:text="${player.cost}">cost</td>
                        <td th:text="${player.totalPoints}">points</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2" style="padding-top: 5%">
                <p class="text-center" style="font-weight: bold; font-size: 150%;"
                   th:text="${'Budget: '+team.getBudget()}"></p>
                <button type="button" class="btn btn-success btn-lg" th:id="${team.getBudget()}" onclick="pickPlayer(this.id)" style="margin-top: 15%"><span
                        class="glyphicon glyphicon-plus-sign"></span> Pick Player
                </button>
                <button type="button" class="btn btn-lg btn-success" th:id="${team.getBudget()}"
                        onclick="submitTeam(this.id)" style="margin-top: 50px">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Submit Team
                </button>
            </div>
            <div class="col-md-5">
                <h2 class="text-center">Squad</h2>
                <table class="table table-bordered table-condensed myTeam">
                    <tr class="gks">
                        <th>Goalkeepers: 0 of 2</th>
                    </tr>
                    <tr id="gk1">
                        <td></td>
                    </tr>
                    <tr id="gk2">
                        <td></td>
                    </tr>
                    <tr class="defs">
                        <th>Defenders: 0 of 5</th>
                    </tr>
                    <tr id="def1">
                        <td></td>
                    </tr>
                    <tr id="def2">
                        <td></td>
                    </tr>
                    <tr id="def3">
                        <td></td>
                    </tr>
                    <tr id="def4">
                        <td></td>
                    </tr>
                    <tr id="def5">
                        <td></td>
                    </tr>
                    <tr class="mids">
                        <th>Midfielders: 0 of 5</th>
                    </tr>
                    <tr id="mid1">
                        <td></td>
                    </tr>
                    <tr id="mid2">
                        <td></td>
                    </tr>
                    <tr id="mid3">
                        <td></td>
                    </tr>
                    <tr id="mid4">
                        <td></td>
                    </tr>
                    <tr id="mid5">
                        <td></td>
                    </tr>
                    <tr class="fors">
                        <th>Forwards: 0 of 3</th>
                    </tr>
                    <tr id="for1">
                        <td></td>
                    </tr>
                    <tr id="for2">
                        <td></td>
                    </tr>
                    <tr id="for3">
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="/js/newVirtualTeam.js" type="text/javascript"></script>
</body>
</html>