<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
<section id="main-content">
    <div class="wrap-container">
        <div class="box-body table-responsive">
            <div class="col col-md-4 col-md-offset-4" style="padding-top: 2%">
                <div><label> Team Name : <input type="text" name="name"/> </label></div>
            </div>
            <div th:if="${players != null}" class="col-md-5">
                <h2 class="text-center">Players list</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Cost</th>
                    </tr>
                    <tr th:each="player : ${players}">
                        <td><a th:href="${'/player/' + player.id}">Id</a></td>
                        <td th:text="${player.name}">Name</td>
                        <td th:text="${player.position}">position</td>
                        <td th:text="${player.cost}">cost</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2" style="padding-top: 5%">
                <input type="button" class="btn btn-success btn-lg" value="Pick Player"/>
            </div>
            <div class="col-md-5">
                <h2 class="text-center">Your Team</h2>
                <table th:if="${team.getPlayers() != null}" class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Cost</th>
                    </tr>
                    <tr th:each="playert : ${team.getPlayers()}">
                        <td><a th:href="${'/player/' + playert.id}">Id</a></td>
                        <td th:text="${playert.name}">Name</td>
                        <td th:text="${playert.position}">position</td>
                        <td th:text="${playert.cost}">cost</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>