<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->

</div>
<div class="row">
    <div class="divs box-body table-responsive" th:if="${team.getOwner() == currentUser}">
        <aside class="col-md-6">
            <section class="user_info">
                <h1 class="text-center"><b>Formation</b></h1>
            </section>
            <div id="field" style="position: relative; width: 100%; height: 100%" class="text-center">
                <img src="/images/field.png" alt="" height="70%" width="75%"/>

                <div style="width: 100%; height: 100%; position: absolute; top: 0; text-align: center">
                    <div id="FOR" style="width: 100%; height: 15%; margin-top: 10%; position: relative">
                        <div th:each="player : ${FORs}" id="xx" style="overflow: hidden; border: 2px solid #000000; background-color: #C0C0C0; width: 15%; height: 100%; position: relative; display: inline-block">
                            <p style="line-height: 100%; font-size: 70%" th:text="${player.name}"></p>
                            <button type="button" class="btn btn-xs btn-default" onclick="switchPlayers()" style="position: absolute; right: 0; bottom: 0;  width: 100%; overflow: hidden">
                                <span class="glyphicon glyphicon-retweet"></span>
                            </button>
                        </div>
                    </div>
                    <div id="MID" style="width: 100%; height: 15%; margin-top: 15%; position: relative">
                        <div th:each="player : ${MIDs}" id="xx" style="overflow: hidden; border: 2px solid #000000; background-color: #C0C0C0; width: 15%; height: 100%; position: relative; display: inline-block">
                            <p style="line-height: 100%; font-size: 70%" th:text="${player.name}"></p>
                            <button type="button" class="btn btn-xs btn-default" onclick="switchPlayers()" style="position: absolute; right: 0; bottom: 0;  width: 100%; overflow: hidden">
                                <span class="glyphicon glyphicon-retweet"></span>
                            </button>
                        </div>
                    </div>
                    <div id="DEF" style="width: 100%; height: 15%; margin-top: 15%; position: relative">
                        <div th:each="player : ${DEFs}" id="xx" style="overflow: hidden; border: 2px solid #000000; background-color: #C0C0C0; width: 15%; height: 100%; position: relative; display: inline-block">
                            <p style="line-height: 100%; font-size: 70%" th:text="${player.name}"></p>
                            <button type="button" class="btn btn-xs btn-default" onclick="switchPlayers()" style="position: absolute; right: 0; bottom: 0;  width: 100%; overflow: hidden">
                                <span class="glyphicon glyphicon-retweet"></span>
                            </button>
                        </div>
                    </div>
                    <div id="GK" style="width: 100%; height: 15%; margin-top: 5%; position: relative">
                        <div id="xx" style="overflow: hidden; border: 2px solid #000000; background-color: #C0C0C0; width: 15%; height: 100%; position: relative; display: inline-block">
                            <p style="line-height: 100%; font-size: 70%" th:text="${GK.name}"></p>
                            <button type="button" class="btn btn-xs btn-default" onclick="switchPlayers()" style="position: absolute; right: 0; bottom: 0;  width: 100%; overflow: hidden">
                                <span class="glyphicon glyphicon-retweet"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </aside>
        <aside th:if="${team.getPlayers() != null}" class="col-md-6">
            <h2 class="text-center">Players list</h2>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-1"></th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Cost</th>
                </tr>
                <tr>
                    <td class="col-md-1"><img src="http://i.imgur.com/m7ZcOFv.png"  height="15%"/></td>
                    <td th:text="${GKsub.name}">Name</td>
                    <td th:text="${GKsub.position}">position</td>
                    <td th:text="${GKsub.cost}">cost</td>
                </tr>
                <tr th:each="player : ${DEFsub}">
                    <td class="col-md-1"><img src="http://i.imgur.com/m7ZcOFv.png"  height="15%"/></td>
                    <td th:text="${player.name}">Name</td>
                    <td th:text="${player.position}">position</td>
                    <td th:text="${player.cost}">cost</td>
                </tr>
                <tr th:each="player : ${MIDsub}">
                    <td class="col-md-1"><img src="http://i.imgur.com/m7ZcOFv.png"  height="15%"/></td>
                    <td th:text="${player.name}">Name</td>
                    <td th:text="${player.position}">position</td>
                    <td th:text="${player.cost}">cost</td>
                </tr>
                <tr th:each="player : ${FORsub}">
                    <td class="col-md-1"><img src="http://i.imgur.com/m7ZcOFv.png"  height="15%"/></td>
                    <td th:text="${player.name}">Name</td>
                    <td th:text="${player.position}">position</td>
                    <td th:text="${player.cost}">cost</td>
                </tr>
            </table>

        </aside>
        <div class="divs box-body table-responsive" th:if="${team.getOwner() != currentUser}">
            <div class="col-md-offset-2 col-md-8">
                <div th:if="${team.getPlayers() != null}" class="form-group">
                    <h2 class="text-center">Players list</h2>
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Cost</th>
                        </tr>
                        <tr th:each="player : ${team.getPlayers()}">
                            <td class="col-md-1"><img src="http://i.imgur.com/m7ZcOFv.png"  height="15%"/></td>
                            <td th:text="${player.name}">Name</td>
                            <td th:text="${player.position}">position</td>
                            <td th:text="${player.cost}">cost</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>