body{
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cpt-selected{
    background-color: #2b669a;
}

#header-login,
#header-texto {
    display: inline-block;
}

.login-box {
    padding-top: 3.5%;
}

.index-container {
    margin-top: 0;
    background-image: url("../images/camp_nou_escura.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    min-height: 65%;
}

.navbar {
    margin-bottom: 0;
}

.texto-registo {
    padding-top: 10%;
    margin-bottom: 10%;
}

.texto-registo h1 {
    
    text-align: justify;
    font-size: 180%;
    font-weight: bold;
    color: #FFBF00;
}

.botoes-index ul li {
    display: inline-block;
}

.botoes-index ul li:not(:last-of-type) {
    margin-right: 10%;
}

.mobile img {
    padding-top: 10%;
    padding-left: 15%;
}
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
        
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
    
    .texto-registo {
        padding-right: 30%;
        font-size: 1.5em;
        color: #FFFFFF;
    }
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
.navbar li{
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color:  lightgrey;
}

/* formulario pesquisa classification*/
.pesquisa {
    padding-left: 30px;
    margin: 0;
    max-width: 300px;
    padding-bottom: 25px;
}

.campo-pesquisa{
    width: 50%;
    margin-right: 5%;
    margin-left: auto;
    display: inline-block;
}

.botao-pesquisa {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

/* formulario pesquisa statistics*/
.pesquisa-statistic {
    padding-left: 30px;
    margin: 0;
    max-width: 550px;
    padding-bottom: 25px;
}

.campo-pesquisa-statistic{
    width: 23%;
    margin-right: 3%;
    margin-left: auto;
    display: inline-block;
}

.botao-pesquisa-statistic {
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.highlighted {
    background-color: #CCCC33;
}

.tr{
    vertical-align: center;
}