body{
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cpt-selected{
    background-color: #2b669a;
}

#header-login,
#header-texto {
    display: inline-block;
}

.login-box {
    padding-top: 3.5%;
}

.index-container {
    margin-top: 0;
    background-image: url("../images/camp_nou_escura.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    min-height: 65%;
}

.navbar {
    margin-bottom: 0;
}

.texto-registo {
    padding-top: 10%;
    margin-bottom: 10%;
}

.texto-registo h1 {
    
    text-align: justify;
    font-size: 180%;
    font-weight: bold;
    color: #FFBF00;
}

.botoes-index ul li {
    display: inline-block;
}

.botoes-index ul li:not(:last-of-type) {
    margin-right: 10%;
}

.mobile img {
    padding-top: 10%;
    padding-left: 15%;
}
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
        
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
    
    .texto-registo {
        padding-right: 30%;
        font-size: 1.5em;
        color: #FFFFFF;
    }
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
.navbar li{
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color:  lightgrey;
}

/* formulario pesquisa classification*/
.pesquisa {
    padding-left: 30px;
    margin: 0;
    max-width: 300px;
    padding-bottom: 25px;
}

.campo-pesquisa{
    width: 50%;
    margin-right: 5%;
    margin-left: auto;
    display: inline-block;
}

.botao-pesquisa {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

/* formulario pesquisa statistics*/
.pesquisa-statistic {
    padding-left: 30px;
    margin: 0;
    max-width: 80%;
    padding-bottom: 25px;
}

.campo-pesquisa-statistic{
    width: 23%;
    margin-right: 3%;
    margin-left: auto;
    display: inline-block;
}

.botao-pesquisa-statistic {
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.campo-pesquisa-historic{
    width: 100%;
    margin-top: 30%;
    margin-left: auto;
    display: inline-block;
}



.table tr{
    vertical-align: middle;
    cursor: pointer;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table tr{
    background-color: #ecf0f1;
}

.table tr.highlighted {
    background-color: #CCCC33;
}

.table th{
    background-color: #1abc9c;
}

/* CENAS FEITAS PELO VASCO */

html, body {
    width:100%;
    height:100%;
    font-size:100%;
}

body {
    display:block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("/images/bayern.jpg") no-repeat fixed center center;
}

header {
    position: fixed;
    left:0;
    top:0;
    z-index: 999;
    width:100%;
    background-color: #ecf0f1;
    display: block;
}

header > .navbar > .wrap-container {
    width:85%;
    margin:0 auto;
    display: table;
    table-layout: fixed;
    height:100px;
}

header > .navbar > .wrap-container > div#logo,
header > .navbar >  nav#menu,
header > .navbar > .container > div#user_in {
    display:table-cell;
    vertical-align: middle;
    text-align: right;
}

header > .navbar > .wrap-container > div#logo,
header > .navbar > .container > div#user_in {
    width:20%;
}

header > .navbar > .wrap-container > div#logo > img {
    height:90px;
    padding:2% 0;
    cursor: pointer;
}


header > .navbar > .wrap-container > nav#menu {
    width:100%;
    text-align: right;
    height:100%;
}

header > .navbar > .wrap-container > nav#menu > .navbar-collapse > ul {
    display:table;
    table-layout: fixed;
    text-align: center;
    height:100%;
}

header > .navbar > .wrap-container > nav#menu > .navbar-collapse > ul > li {
    display:table-cell;
    vertical-align: middle;
    background-color: transparent;
    height:100%;
    cursor:pointer;
    padding:0 15px;
    line-height:100px;
    font-family:'Montserrat', sans-serif;
}

header > .navbar > .wrap-container > nav#menu > .navbar-collapse > ul > li:hover {
    background-color: #1abc9c;
    color: #ecf0f1;
    text-transform:uppercase;

}


header > .navbar > .wrap-container > div#user_in > #user-header-toggle {
    position:relative;
    text-align: center;
    width:100%;
}

header > .navbar > .wrap-container > div#user_in > #user-header-toggle button{
    cursor: pointer;
    padding:5px 10px;
    border:none;
    border-radius:4px;
    background-color:rgba(52, 152, 219,1.0);
}
header > .navbar > .wrap-container > div#user_in > #user-header-toggle button span {
    color: #ecf0f1;
}

header > .navbar > .wrap-container > div#user_in > #user-header-toggle > .navbar-collapse > ul {
    list-style: none;
    display:none;
    position:absolute;
    width:100%;
    right:0;
    top: 130%;
    background-color: #333;
}

header > .navbar > .wrap-container > div#user_in > #user-header-toggle > .navbar-collapse > ul > li:first-of-type span {
    color: #ecf0f1;
}

header > .navbar > .wrap-container > div#user_in > #user-header-toggle > .navbar-collapse > ul.open {
    display:block;
    z-index:99999;
}

section#main-content {
    width:100%;

    padding-top:130px;
    display:block;
    padding-bottom:100px;
}

section#main-content > .wrap-container {
    width:85%;
    display:block;
    margin:0 auto;
    background-color: rgba(236, 240, 241, 0.9);
    padding-bottom:50px;
}

#listPlayers {
    width:95%;
}

#toggle-buttons {
    display:table;
    table-layout: fixed;
    width:100%;
}

#toggle-buttons button {
    display:table-cell;
    vertical-align: middle;
    padding: 5px 10px;
}

@media (max-width: 1360px) {
    #logo {
        max-width: 80%;
        display: inline;
    }
    header > .navbar > .wrap-container > div#logo,
    header > .navbar > .container > div#user_in {
        width:90px;
    }

    header > .navbar > .wrap-container > div#logo > img {
        height:90px;
        padding:2% 0;
        cursor: pointer;
    }

    header > .navbar > .wrap-container > nav#menu > .navbar-collapse > ul > li {
        display:block;
        vertical-align: middle;
        background-color: transparent;
        height:100%;
        cursor:pointer;
        padding:0 15px 0 70px;
        line-height:30px;
        font-family:'Montserrat', sans-serif;
    }
    header > .navbar > .wrap-container {
        height: 120px;
    }

    section#main-content {
        padding-top: 170px;
    }
    .text-center {
        text-align: center;
    }
}

.alerta {
    position: absolute;
    display:none;
    background-color: red;
    border-radius: 5px;
    z-index: 1200;
    width: 20%;
    top: 25%;
    left: 43%;
    margin-top: -50px;
    margin-left: -50px;
}

.p-alerta {
    padding: 8%;
    color: #ffffff;
    font-weight: bold;
}

.team-p {
    padding-top: 1%;
}
.container-home {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.home-left {
    padding-top: 10%;
    padding-left: 5%;
    background-image: url('../images/home-left.jpg');
    background-size: 100%;
    min-height: 350px;
}

.p-home {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 55%;
}

.centrada {
    float: none;
    padding-left: 35%;
    padding-top: 13%;
}

.home-right {
    padding-top: 10%;
    padding-left: 5%;
    background-image: url('../images/home-right.jpg');
    background-size: 100%;
    min-height: 350px;
}
.home-left-col {
    margin-left: 4%;
}

.listAllPlayers tr {
    cursor: pointer;
}

.table-hover > tbody > tr:hover {
    background-color: transparent !important;
}

.highlighted:hover {
    background-color: red;
}

.table tr.highlighted:hover {
    background-color: #CCCC33;
}

.table-dir {
    margin-top: 4.5%;
}

.navbar-inverse {
    background-color: rgba(236, 240, 241, 0.9);;
}