<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
<section id="main-content">
    <div class="wrap-container">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Administration Panel</h2>
                <div>
                        <select id="jornada-drop-down">
                            <option value="1">Jornada 1</option>
                            <option value="2">Jornada 2</option>
                            <option value="3">Jornada 3</option>
                            <option value="4">Jornada 4</option>
                            <option value="5">Jornada 5</option>
                            <option value="6">Jornada 6</option>
                            <option value="7">Jornada 7</option>
                            <option value="8">Jornada 8</option>
                            <option value="9">Jornada 9</option>
                            <option value="10">Jornada 10</option>
                            <option value="11">Jornada 11</option>
                            <option value="12">Jornada 12</option>
                            <option value="13">Jornada 13</option>
                            <option value="14">Jornada 14</option>
                            <option value="15">Jornada 15</option>
                            <option value="16">Jornada 16</option>
                            <option value="17">Jornada 17</option>
                            <option value="18">Jornada 18</option>
                            <option value="19">Jornada 19</option>
                            <option value="20">Jornada 20</option>
                            <option value="21">Jornada 21</option>
                            <option value="22">Jornada 22</option>
                            <option value="23">Jornada 23</option>
                            <option value="24">Jornada 24</option>
                            <option value="25">Jornada 25</option>
                            <option value="26">Jornada 26</option>
                            <option value="27">Jornada 27</option>
                            <option value="28">Jornada 28</option>
                            <option value="29">Jornada 29</option>
                            <option value="30">Jornada 30</option>
                            <option value="31">Jornada 31</option>
                            <option value="32">Jornada 32</option>
                            <option value="33">Jornada 33</option>
                            <option value="34">Jornada 34</option>
                        </select>
                        <button type="submit" class="btn btn-default" onClick="generateJornada()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/admin.js" type="text/javascript"></script>
</body>
</html>