<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
    <div class="row index-container">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <div class="texto-registo">
                <h1>Forma a tua equipa e compete com milhares de jogadores.</h1>
            </div>
            <div th:if="${currentUser == null}" class="botoes-index">
                <ul>
                    <li>
                        <input type="button" class="btn btn-primary btn-lg" onclick="location.href='/user/new'"
                               value="Register"/>
                    </li>

                    <li>
                        <input type="button" class="btn btn-primary btn-lg" onclick="location.href='/login'"
                               value="Login"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>