<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="shared/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="shared/header :: header"></th:block> /*/-->
    <div class="col col-md-8 col-md-offset-2">
        <h2 class="text-center">Winners</h2>


        <b>League Edition 2013/2014</b>
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th class="col-md-3">Place</th>
                <th class="col-md-4">Player</th>
                <th class="col-md-5">Team</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-md-3">1st</td>
                <td class="col-md-4">Keepo</td>
                <td class="col-md-5">Kappa Keepo PogChamp</td>
            </tr>
            <tr>
                <td class="col-md-3">2nd</td>
                <td class="col-md-4">DansGame</td>
                <td class="col-md-5">Old Dan Real Dan</td>
            </tr>
            <tr>
                <td class="col-md-3">3rd</td>
                <td class="col-md-4">PogChamp</td>
                <td class="col-md-5">PogChampions</td>
            </tr>
            </tbody>
        </table>
        <b>League Edition 2014/2015</b>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-3">Place</th>
                <th class="col-md-4">Player</th>
                <th class="col-md-5">Team</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-md-3">1st</td>
                <td class="col-md-4">BrokeBack</td>
                <td class="col-md-5">Brokebackerinos FC</td>
            </tr>
            <tr>
                <td class="col-md-3">2nd</td>
                <td class="col-md-4">OpieOP</td>
                <td class="col-md-5">Gimme Fodies FC</td>
            </tr>
            <tr>
                <td class="col-md-3">3rd</td>
                <td class="col-md-4">FrankerZ</td>
                <td class="col-md-5">Dogs</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>