<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="wrap-container">
            <div id="logo"><img onclick="location.href='/'" src="/images/logo.png" alt="homepage" title="Home Page"/></div>
            <nav id="menu" class="navbar">
                <ul class="nav navbar-nav">
                    <li th:if="${currentUser != null}" onclick="location.href='/team'">MY TEAM</li>
                    <li th:if="${currentUser != null}" onclick="location.href='/team/transfers'">TRANSFERS</li>
                    <li onclick="location.href='/classification/'">CLASSIFICATION</li>
                    <li onclick="location.href='/statistics/'">STATISTICS</li>
                    <li onclick="location.href='/winners/'">WINNERS</li>
                    <li onclick="location.href='/rules/'">RULES</li>
                    <li th:if="${currentUser != null}" class="dropdown">

                    </li>
                </ul>
            </nav>
            <div id="user_in">
                <button th:if="${currentUser == null}" type="button" class="btn btn-default" onclick="location.href='/login'"><span
                        class="glyphicon glyphicon-user"></span> Login
                </button>
                <div id="user-header-toggle" th:if="${currentUser != null}">
                    <button type="button">
                        <span th:text="${'Welcome ' + currentUser.getUsername()}"></span>
                        <span class="caret"></span>
                    </button>
                    <ul>
                        <li th:if="${currentUser.hasVirtualTeam()}" class="text-center"><span style="font-weight: bold;"
                                                                                              th:text="${currentUser.getVirtualTeam().getName()}">:</span>
                            <span style="font-weight: bold;">:</span>
                            <span style="font-weight: bold;" th:text="${currentUser.getVirtualTeam().getTotalPoints()}"> </span>
                            <span> Pts.</span>
                        </li>
                        <li class="text-center"> <input type="button" class="btn btn-sm btn-info" onclick="location.href='/user/edit'" value="Edit Account"/></li>
                        <li class="text-center"><form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-sm btn-danger" value="Sign Out"/>
                        </form></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
</div>
</body>
</html>